body, html {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body {
    font-size: 18px;
    margin-left: 50px;
    margin-right: 50px;
}

p, h1, h2, h3, h4, h5, h6, div.index-content {
    max-width: 900px;
}

li {
    max-width: 860px;
}

ul, ol {
    padding-left: 40px;
}

hr {
    background: cadetblue;
    height: 1px;
    border: 0px;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
    font-size: unset;
}

del {
    color: red;
}

ins {
    color: green;
}

code, .code {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif;
    font-size: 16px;
    background-color: #eeeeee;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 7px;
    white-space: nowrap;
}

pre>code {
    font-size: 16px;
    display: block;
    width: 878px;
    min-width: max-content;
    line-height: 1.4;
    border-radius: 0;
    white-space: pre;
    padding: 10px;
}

pre>code.language-wrapped {
    white-space: pre-wrap;
    min-width: unset;
}

pre>code.language-text {
    background-color: unset;
    padding: 0;
    width: 900px;
    border: none;
}

pre>code.language-shell {
    background-color: darkslategray;
    color: floralwhite;
    border: solid 1px darkslategray;
}

pre>code.language-wrapped-shell {
    background-color: darkslategray;
    color: floralwhite;
    border: solid 1px darkslategray;
    white-space: pre-wrap;
    min-width: unset;
}

pre>code.language-code {
    color: darkred;
    border: solid 1px darkred;
    background-color: beige;
}

pre>code.language-wrapped-code {
    color: darkred;
    border: solid 1px darkred;
    background-color: beige;
    white-space: pre-wrap;
    min-width: unset;
}

blockquote {
    margin-left: 0;
    padding: 1px 10px;
    font-size: 16px;
    width: 868px;
    min-width: max-content;
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px 1px 1px 10px;
}

blockquote *, div.admonition * {
    max-width: 868px;
}

blockquote pre>code {
    width: 847px;
}

div.admonition pre>code {
    width: 857px;
}

blockquote li pre code {
    width: 808px;
}

table {
    max-width: 900px;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 16px;
}

table td, table th {
    border: solid 1px #6a8fb3;
    padding: 7px 14px;
}

table td {
    vertical-align: top;
}

table th {
    background-color: #e9f0f2;
    font-size: 14px;
}

div.tableLight+table td, div.tableLight+table th {
    background: none;
    border: none;
    padding: 2px 7px;
}

div.tableHederless+table>thead {
    display: none;
}

div.admonition {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    padding: 0;
    font-size: 16px;
    width: 898px;
    min-width: max-content;
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px;
}

div.admonition>p.admonition-title {
    margin: 0;
    border-bottom: solid 1px #cccccc;
    background-color: #eeeeee;
    padding: 5px 20px 5px 10px;
    font-weight: bold;
}

div.admonition p {
    
}

div.admonition>* {
    margin: 16px 10px;
}

div.admonition.warning,
div.admonition.attention,
div.admonition.caution {
    border-color: #ff9001;
}

div.admonition.warning>p.admonition-title,
div.admonition.attention>p.admonition-title, 
div.admonition.caution>p.admonition-title {
    border-bottom-color: #ff9001;
    background-color: #fef3e8;
}

div.admonition.danger,
div.admonition.error {
    border-color: #f50057;
}

div.admonition.danger>p.admonition-title,
div.admonition.error>p.admonition-title {
    border-bottom-color: #f50057;
    background-color: #ffe9ed;
}

div.admonition.hint,
div.admonition.tip,
div.admonition.important {
    border-color: #01bfa5;
}

div.admonition.hint>p.admonition-title,
div.admonition.tip>p.admonition-title, 
div.admonition.important>p.admonition-title {
    border-bottom-color: #01bfa5;
    background-color: #e9f9f6;
}

div.admonition.note {
    border-color: #448aff;
}

div.admonition.note>p.admonition-title {
    border-bottom-color: #448aff;
    background-color: #edf4ff;
}

div.admonition li {
    width: 838px;
}

li>div.admonition {
    width: unset;
    min-width: unset;
}

li>blockquote {
    width: 827px;
}

li>pre>code {
    width: 838px;
}

div.index-content {
    column-count: 4;
}

p.index-letter {
    column-span: all;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 12px;
}

p.index-entry {
    margin-top: 0px;
    margin-bottom: 8px;
}

