div.sidebar_item {
    padding: 0 20px 0 20px;
    margin-left: -20px;
    margin-right: -20px;
}

div.sidebar h3 {
    color: darkslategray;
    margin-top: 10px;
    margin-bottom: 0;
}

blockquote, div.admonition {
    overflow: hidden;
}

div.sidebar_item:hover { 
    /* background-color: lightskyblue;  */
    background-color: skyblue; 
}

video.floatRight {
    float: right; 
    margin: 0 0 25px 25px;
}

code, .code {
  border: lightgray solid 1px;
}

hr {
    width: 900px;
    margin-left: 0px;
    text-align: left;
}

div.noBullets + ul {
    list-style-type: none;
}

